@use '../../../styles/utils/functions' as *;
@use '../../../styles/utils/variables' as *;
@import '../../../styles/utils/mixin';

.statsCard {
  @include card;

  .trend {
    display: flex;
    padding: rem(2) rem(8) rem(2) rem(6);
    align-items: center;
    gap: rem(4);

    border-radius: 6px;
    border: 1px solid #D5D7DA;
    background: #FFF;

    box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: rem(8);
  }

}
