@use '../../../styles/utils/functions' as *;
@use '../../../styles/utils/variables' as *;
@import '../../../styles/utils/mixin';

.achievementCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  width: rem(388);
  height: auto;
  padding: rem(20);
  overflow: hidden;

  border-radius: 12px;
  border: 1px solid #E9EAEB;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05);

  &:hover {
    .achievementDate, .achievementTitleText {
      color: #7F56D9;
    }
  }

  .achievementInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(16);
    flex-grow: 1;
  }

  .achievementTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: rem(8);
  }

  .achievementIcon {
    width: rem(48);
    height: rem(48);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .achievementTextBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
  }

  .achievementTitleText {
    color: $colors-text-text-primary;
    font-size: rem(16);
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    transition: color 0.3s ease-in-out !important;
    align-items: center;
  }

  .achievementPlatform {
    color: $colors-text-text-tertiary;
    font-size: rem(14);
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    align-items: center;

  }

  .achievementDate {
    padding-bottom: rem(20);
    padding-top: rem(10);
    color: $colors-text-text-tertiary;
    font-size: rem(14);
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    transition: color 0.3s ease-in-out !important;
    align-items: center;
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-top: rem(16);
    padding-right: rem(8);
  }

  .divider {
    width: 130%;
    height: 1px;
    background: #E9EAEB;
    opacity: 0.5;
    margin-left: -20px;
  }

  .button {
    display: flex;
    padding: rem(8) rem(12);
    justify-content: center;
    align-items: center;
    gap: rem(4);
    border-radius: rem(8);
    border: 1px solid #D5D7DA;
    background: $color-white;
    cursor: pointer;

    box-shadow: 0px 0px 0px 0.5px rgba(10, 13, 18, 0.18) inset,
                0px -2px 0px 0px rgba(10, 13, 18, 0.05) inset,
                0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;

    color: #414651 !important;
    font-size: rem(14);
    font-style: normal;
    font-weight: 600;
    line-height: 20px !important;

    &:hover {
      transform: scale(1.04);
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1),
                  0px 1px 3px rgba(0, 0, 0, 0.08) !important;
    }

    &:active {
      transform: scale(0.98);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1),
                  0px 1px 2px rgba(0, 0, 0, 0.08) !important;
    }
  }
}

@media (max-width: 768px) {
  .achievementCard {
      width: 100%;

    }
  }

