// Colors
$color-primary: #7F56D9;
$color-secondary: #60a5fa;
$color-tertiary: #a855f7;
$color-white: #ffffff;
$color-black: #000000;
$colors-text-text-primary: #181D27;
$colors-text-text-tertiary: #535862;

// Gradients
$gradient-primary: linear-gradient(to right, $color-secondary, $color-tertiary, $color-primary);

// Shadows
$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
$shadow-lg: 0 20px 25px -5px rgba(0, 0, 0, 0.1);

